@use "sass:map";
@use "../utils/variables" as *;

.footer__container {
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.5);
    background-color: $primary-color;
    margin-top: 2rem;
    height: 100%;
      .footer__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media screen and (max-width: map.get($grid-breakpoints, sm) ) {
            flex-direction: column;
        }
        .footer__socialmedia-links {
            color: $black-color;
            &:not(:first-child) {
                margin-left: 1.5rem;
            }
            @media screen and (max-width: map.get($grid-breakpoints, sm) ) {
                margin: 1rem 0;
            }
            i {
                font-size: 1.5rem;
            }
            &:hover {
                color: $strong-primary-color;
            }
        }
    }
}
.Copyright {

    background-color: $black-color;
    font-size: 12px;
    color: $white-color;
    text-align: center;
 }
 