@use "../utils/variables" as *;


.btn {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    cursor: pointer;
    &__primary {
        background-color: $strong-primary-color;
        color: $white-color;
        border: 2px solid $strong-primary-color;
        svg {
            width: 1rem;
            fill: $white-color;
        } 
        &:hover {
            background-color: $black-color;
        }
        &-outline {
            background-color: transparent;
            color: $strong-primary-color;
            border: 2px solid $strong-primary-color;
            svg {
                width: 1rem;
                fill: $primary-color;
            } 
            &:hover {
                color: $black-color;
                border-color: $black-color;
            }
        }
    };
    &__secondary {
        background-color: $strong-primary-color;
        color: $white-color;
        border: 2px solid $primary-color;
        svg {
            width: 1rem;
            fill: $white-color;
        } 
        &:hover {
            background-color: $white-color;
        }
        &-outline {
            background-color: transparent;
            color: $secondary-color;
            border: 2px solid $secondary-color;
            svg {
                width: 1rem;
                fill: $secondary-color;
            } 
            &:hover {
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    };
}